[Unit]
Description=Nexus 3 Repository OSS
After=network.target

[Service]
Type=simple
LimitNPROC=65536
LimitNOFILE=65536
User=nexus
Group=nexus
EnvironmentFile=/etc/conf.d/nexus-oss
ExecStart=/usr/lib/nexus-oss/bin/nexus-oss
Restart=on-abort

[Install]
WantedBy=multi-user.target
